# ================================
# Real-ESRGAN Portable - .gitignore
# ================================

# Ignore semua file gambar di folder input/output
# Tapi folder tetap ke-track karena ada .gitkeep
input/*
!input/.gitkeep

Real-ESRGAN/*
!Real-ESRGAN/.gitkeep

tmp_frames/*
!tmp_frames/.gitkeep

out_frames/*
!out_frames/.gitkeep

# File hasil upscale yang mungkin di root
*HD.png
*HD.jpg

# Windows system files
Thumbs.db
desktop.ini
*.tmp
